
@font-face {
    font-family: crimson-custom-font;
    src: url(font/CrimsonText-Regular.ttf);
}

body, html {
    margin: 0;
    background-color: black;
    color: white;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    font-size: 18px;
    font-family: crimson-custom-font;
}

img {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#container-section {
    z-index: 5;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container-div {
    height: 45vh;
    width: 40vw;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    margin-top: 2vh;
    color: lightblue;
    z-index: 5;
    position: relative;
}

#discord-link {
    color: blue;
    position: relative;
}
#play-button {
    height: 10vh;
    width: 10vw;
    font-size: 4vh;
    background-color: black;
    border: solid 1px black;
    color: white;
    border-radius: 15px;
}
#play-button:hover {
    color: gray;
}
#background-img, #background-img-coloured {
    position: absolute;
    z-index: 1;
    transform: scale(1.5);
    left: 15vw;
    animation: sway 15s infinite alternate ease-in-out;
    transition: transform 2s ease; /* Smooth transition */
}

#background-img-coloured {
    z-index: 0;
}






@keyframes sway {
    0% {
        transform: scale(1.5) translate(-0.3vw, -0.3vh) rotate(1deg);
    }
    50% {
        transform: scale(1.5) translate(0.3vw, 0vh) rotate(0deg);
    }
    100% {
        transform: scale(1.5) translate(-0.3vw, -0.3vh) rotate(-1deg);
    }
}
@keyframes fadeoutZoom {
    100% {
        opacity: 0;
        transform: scale(2.5) translate(10.3vw, 25.3vh) rotate(1deg);
    }
}
@keyframes zoom {
    100% {
        transform: scale(2.5) translate(10.3vw, 25.3vh) rotate(1deg);
    }
}
@keyframes swayZoomed {
    0% {
        transform: scale(2.5) translate(10.3vw, 25.3vh) rotate(1deg);
    }
    50% {
        transform: scale(2.5) translate(10.0vw, 25vh) rotate(0deg);
    }
    100% {
        transform: scale(2.5) translate(10.3vw, 25.3vh) rotate(-1deg);
    }
}

#selection-container {
    position: absolute;
    height: 45vh;
    width: 40vw;
    left: 5vw;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50px;
    font-size: 40px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.country-hitboxes {
    width: 40vw;
    height: 30vh;
    position: absolute;
}
#estonian-hitbox {
    top: -4vh;
    left: 65vw;
    height: 40vh;
    transform: rotate(15deg);
    z-index: 10;
    display: none;
}
#latvian-hitbox {
    top: 38vh;
    left: 60vw;
    height: 25vh;
    width: 45vw;
    transform: rotate(15deg);
    z-index: 11;
    display: none;
}
#lithuanian-hitbox {
    top: 55vh;
    left: 60vw;
    height: 40vh;
    width: 20vw;
    z-index: 10;
    display: none;
}
.scenario-button-container {
    display: flex;
    flex-direction: row;
}
.scenario-button {
    width: 8vw;
    height: 15vh;
    font-size: 5vh;
}


#icon-section {
    position: absolute;
    height: 8vh;
    width: 10vw;
    z-index: 10;
    top: 92vh;
    display: flex;
    flex-direction: row;
}
.icon-button {
    height: 8vh;
    width: 5vw;
    font-size: 4vh;
    background-color: black;
    border: solid 1px black;
    color: white;
    border-radius: 10px;
}
.icon-button:hover {
    color: gray;
}
