
@font-face {
    font-family: rubik-custom-font;
    src: url(../../font/Rubik-Regular.ttf);
}

body, html {
    margin: 0;
    overflow: hidden;
    background-image: url(../../img/water.png);
    background-color: #334957;
    background-position: left top; 
    background-repeat: no-repeat; 
    line-height: 0%;
}

#resource-container {
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: row;
    user-select: none;
    width: 45vw;
    height: 5vh;
    background-color: white;
    color: black;
    left: 55vw;
    border-radius: 0px 0px 0px 10px;
}
div.resource-block {
    height:100%;
    width: 6.25%;
    border: solid black 1px;
    background-color: #888;
    font-family: rubik-custom-font;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2vh;
}

#resource-block-2 {
    background-color: lightgray;
}



#modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 33%; /* Could be more or less, depending on screen size */
}
#enemy-card-img {
    position: absolute;
    display: none;
    height: 50vh;
    top: 25vh;
    left: 40vw;
    width: auto;
}










.state-img:hover,
.city-img:hover {
    filter: sepia(60%);
}

.map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}
.state-container, .state-img, .city-img, .unit-img {
    position: absolute;
}
.unit-img {
    height: 4vh;
    width: 2.25vw;
    z-index: 20;
    top: 5vh;
    left: 2.5vw;
    pointer-events: none;
}
.state-img {
    z-index: 10;
    margin: 0;
}
.city-img {
    z-index: 15;
    margin: 0;
}

#container-ventspils {
    margin: 18.4% 0% 0% 28.05%;
}
#city-ventspils {
    top: 5vh;
    left: 1.4vw;
}
#lat-unit-ventspils { top: 3vh; }
#ger-unit-ventspils { top: 7vh; }

#container-kuldiga {
    margin: 24% 0% 0% 28.4%;
    z-index: 11;
}
#lat-unit-kuldiga { top: 3vh; }
#ger-unit-kuldiga { top: 7vh; }

#container-liepaja {
    margin: 26.58% 0% 0% 24.7%;
}
#city-liepaja {
    top: 9.4vh;
    left: 0.94vw;
}
#lat-unit-liepaja { top: 6vh; }
#ger-unit-liepaja { top: 11vh; }
#sov-unit-liepaja { top: 8vh; }

#container-talsi {
    margin: 17.35% 0% 0% 33.4%;
}
#lat-unit-talsi { top: 6vh; }
#ger-unit-talsi { top: 10vh; }
#sov-unit-talsi { top: 8vh; }

#container-saldus {
    margin: 27.7% 0% 0% 31.95%;
    z-index: 12;
}
#lat-unit-saldus { top: 3vh; }
#ger-unit-saldus { top: 7vh; left: 2vw; }

#container-tukums {
    margin: 23% 0% 0% 35.5%;
}
#lat-unit-tukums { top: 5vh; }
#ger-unit-tukums { top: 9.5vh; left: 3.5vw; }

#container-dobele {
    margin: 29.3% 0% 0% 36.45%;
}
#lat-unit-dobele { top: 3vh; }
#ger-unit-dobele { top: 6vh; }

#container-jelgava {
    margin: 28.35% 0% 0% 41.9%;
}
#city-jelgava {
    top: 4.7vh;
    left: 1.75vw;
}
#lat-unit-jelgava { top: 4.1vh; left: 1vw; }
#ger-unit-jelgava { top: 8vh; left: 0.8vw; }
#sov-unit-jelgava { top: 5vh; left: 1.5vw; }

#container-limbazi {
    margin: 14.5% 0% 0% 48%;
}
#lat-unit-limbazi { top: 4vh; left: 1vw; }
#ger-unit-limbazi { top: 8vh; left: 1.5vw; }
#sov-unit-limbazi { top: 5vh; left: 1.25vw; }

#container-riga {
    margin: 22.35% 0% 0% 42.15%;
    z-index: 9;
}
#city-jurmala {
    top: 9vh;
    left: 1.5vw;
    z-index: 10;
}
#city-riga {
    top: 8.8vh;
    left: 4.3vw;
    z-index: 10;
}
#lat-unit-riga { top: 10vh; left: 4vw; }
#ger-unit-riga { top: 4vh; left: 7vw; }
#sov-unit-riga { top: 6vh; left: 5vw; }

#container-bauska {
    margin: 30.6% 0% 0% 44.95%;
}
#lat-unit-bauska { top: 1.5vh; }
#ger-unit-bauska { top: 5vh; }
#sov-unit-bauska { top: 3vh;  }

#container-valmiera {
    margin: 13.45% 0% 0% 51.74%;
}
#lat-unit-valmiera { top: 2vh; left: 1vw; }
#ger-unit-valmiera { top: 9vh; left: 2vw; }
#sov-unit-valmiera { top: 6vh; left: 2vw; }

#container-cesis {
    margin: 20.6% 0% 0% 51.5%;
}
#lat-unit-cesis { top: 3vh; left: 2vw; }
#ger-unit-cesis { top: 6vh; left: 5vw; }
#sov-unit-cesis { top: 5vh; left: 3vw; }

#container-ogre {
    margin: 27.15% 0% 0% 49.15%;
    z-index: 12;
}
#lat-unit-ogre { top: 1.3vh; left: 4vw; }
#ger-unit-ogre { top: 4vh; left: 1.5vw; }
#sov-unit-ogre { top: 3vh; left: 2vw; }

#container-aizkraukle {
    margin: 29.15% 0% 0% 50.445%;
    z-index: 11;
}
#lat-unit-aizkraukle { top: 1.3vh; left: 5vw; }
#ger-unit-aizkraukle { top: 5vh; left: 3vw; }
#sov-unit-aizkraukle { top: 4.5vh; left: 3.5vw; }

#container-valka {
    margin: 15.35% 0% 0% 56.15%;
}
#lat-unit-valka { top: 9vh; }
#ger-unit-valka { top: 3.5vh; left: 1.5vw; }
#sov-unit-valka { top: 6vh; }

#container-aluksne {
    margin: 18.85% 0% 0% 61.5%;
}
#lat-unit-aluksne { top: 2vh; left: 2.5vw; }
#ger-unit-aluksne { top: 3vh; left: 5.5vw; }
#sov-unit-aluksne { top: 2.5vh; left: 4vw; }

#container-gulbene {
    margin: 21.8% 0% 0% 59.65%;
}
#lat-unit-gulbene { top: 2.5vh; left: 1.5vw; }
#ger-unit-gulbene { top: 3vh; left: 4vw; }
#sov-unit-gulbene { top: 2.5vh; left: 3vw; }

#container-madona {
    margin: 25.6% 0% 0% 56.2%;
}
#lat-unit-madona { top: 3vh; left: 2.5vw; }
#ger-unit-madona { top: 5vh; left: 6vw; }
#sov-unit-madona { top: 2.5vh; left: 4vw; }

#container-jekabpils {
    margin: 31.2% 0% 0% 55%;
}
#lat-unit-jekabpils { top: 2vh; left: 3vw; }
#ger-unit-jekabpils { top: 7vh; left: 2.5vw; }
#sov-unit-jekabpils { top: 4vh; left: 2.5vw; }

#container-balvi {
    margin: 22% 0% 0% 65.7%;
}

#container-rezekne {
    margin: 29% 0% 0% 64.9%;
    z-index: 11;
}
#city-rezekne {
    top: 6.3vh;
    left: 3.6vw;
}

#container-preili {
    margin: 32.3% 0% 0% 60.6%;
    z-index: 11;
}

#container-daugavpils {
    margin: 36.75% 0% 0% 58.7%;
}
#city-daugavpils {
    top: 6.3vh;
    left: 4.7vw;
}

#container-ludza {
    margin: 28.03% 0% 0% 68.34%;
}

#container-kraslava {
    margin: 35.9% 0% 0% 66.5%;
}

.country-img {
    z-index: 1;
}
#country-lithuania {
    top: 57vh;
    left: 25.1vw;
}
#country-estonia {
    top: -18vh;
    left: 29.3vw;
}
#country-germany {
    z-index: 0;
    top: 66vh;
    left: -0.5vw;
}
#country-ussr {
    z-index: 0;
    left: 51vw;
}




#sidebar-container {
    position: absolute;
    display: flex;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 30;
    width: 29vw;
    height: 100vh;
    color: white;
}
#sidebar-full-container {
    width: 95%;
    height: 100%;
    background-color: black;
    pointer-events: all;
    display: none;
}
#sidebar-button {
    height: 100%;
    width: 5%;
    left: 95vw;
    pointer-events: all;
}
#sidebar-button:hover {
    cursor: pointer;
}

#end-turn-button {
    width: 4vw;
    height: 5vh;
    pointer-events: all;
    display: none;
}
#sidebar-top-half-container {
    width: 100%;
    height: 15%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#home-button {
    position: absolute;
}
button.selected-state-action-buttons {
    display: none;
}
#selected-state-action-text-container {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}
input.selected-state-action-input {
    display: none;
}

#sidebar-bottom-half-container {
    width: 100%;
    height: 75%;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.card-button {
    margin: 2vh 1vw;
    width: 9.3vw;
    height: 25vh;
    border: none;
    padding: 0;
    background: none;
}
.card-button img {
    position: relative;
    margin: 0px;
    height: auto;
    max-height: 110%;
    pointer-events: none;
    border-radius: 10px;
}















#full-screen-cover {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    z-index: 999;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;


}





/*
ANIMATION!

*/


@keyframes fadeInAnimation {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}


